<!DOCTYPE html>
<html lang= "en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insuline Calculator</title>
</head>
<body>

    <div><h1>Insuline Calculator</h1></div>
    <div>
        <div>
            <h3>Choose Calculator</h3>

            <select onchange="changeOptions(this)">
              <option value="" selected="selected"></option>
              <option value="form_1">Meal Time Insuline Dose Calculator</option>
              <option value="form_2">Background Insuline Dose Calculator</option>
              <option value="form_3">Personal Sensitivity to Insuline Calculator</option>
            </select>

            <form class="className" name="form_1" id="form_1" style="display:none">
              <!---- THIS IS FORM 1---->
              a
            </form>

            <form class="className" name="form_2" id="form_2" style="display:none">
              <!---- THIS IS FORM 2---->
              b
            </form>

            <form class="className" name="form_3" id="form_3" style="display:none">
              <!---- THIS IS FORM 3---->
              c
            </form>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        </div>

    </div>
    <script src = "../static/javascript/javascript.js"></script>
</body>
</html>
